body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: rgb(252, 252, 252);
    max-width: 100%;
    overflow-x: hidden;
}

.logo {
	display: flex;
	justify-content: center;
}

.logo img {
	width: 150px;
}

.rules, .demo {
    width: 500px;
}


.headRules, .headDemo{
    display: flex;
    justify-content: center;

}

.rules h2, .demo h2 {
    color: #8B4513;
}

.piece{
    width: 20px;
    
}

.myVideo {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

video {
    width: 70%;
    height: 70%;
    object-fit:contain;
}

.demo {
    margin-top: 10px;
}

a {
    font-weight: bold;
    color: rgb(6, 5, 5);
    text-decoration: none;
}

.play {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.play a{
    margin-right: 5px;
    text-decoration: underline;
}

.copyright {
    bottom: 0;
	font-weight: bold;
}

.headCopyright {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}